# Machine Learning Modelle
*.pt

# Datenbankdateien
*.db

# Bild- und Logdateien
*.png
*.jpg
*.jpeg
*.log

# Python Bytecode und Cache
__pycache__/
*.pyc
*.pyo

# Virtuelle Umgebungen (falls benutzt)
.venv/
env/
venv/

# VS Code-Einstellungen und Projekt-Ordner
.vscode/

# PlatformIO/Arduino (falls genutzt)
.pio/

# IDE- und Systemdateien
.DS_Store
.idea/
